
body {
    margin-top: 15px;
    font-family: 'Contrail One';
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
    margin: 0;
}
table {
    width: 100%;
    margin: auto;
}
td {
    text-align: center;
    width: 5%;
    height: 90px;
    padding: 0;
}
.padding {
    padding: 0 50px;
}

/* COULEUR */
.gris {
    background-color: rgb(156, 156, 156);
}
.bleu-fonce {

    background-color: rgb(10, 75, 197);
}
.bleu-clair {
    background-color: rgb(4, 119, 250);
}
.jaune {
    border: 1px solid red;
    background-color: rgb(255, 187, 1);
}
.rouge {
    background-color: rgba(255, 0, 0, 0.883);
}
.vert-fonce {
    background-color: rgb(0, 138, 0);
}
.vert-clair {
    background-color: rgb(26, 218, 9);
}
.violet {
    background-color: rgb(133, 16, 133);
}
.rose {
    background-color: rgb(253, 99, 125);
}
.orange {
    background-color: rgb(250, 82, 4);
}
.marge {
    padding-bottom: 20px;
}
#pink-star {
    color: rgb(253, 99, 125);;
}
#orange-star {
    color: rgb(250, 82, 4);
}
